<div class="container mt-4 app-container">
  <h1>📒 Gestion de Notes</h1>

  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🏠 Accueil</a> |
    <a routerLink="/utilisateurs" routerLinkActive="active">👤 Utilisateurs</a> |
    <a routerLink="/notes" routerLinkActive="active">📝 Notes</a>
  </nav>

  <hr>

  <!-- Ici changera dynamiquement : Home / Utilisateurs / Notes -->
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>